@model ProductEditVm

@{ ViewBag.Title = "Edit Product";
    var photoPath = "~/Images/" + (Model.ExistingPhotoPath ?? "noimages.jpg"); }

<form enctype="multipart/form-data" asp-controller="home" asp-action="Edit"
      method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Price" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Price" class="form-control" placeholder="0.00">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ShortDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ShortDescription" class="form-control" placeholder="Short Description">
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="LongDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LongDescription" class="form-control" placeholder="Long Description">
            <span asp-validation-for="LongDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Group" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Group" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<GroupType>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Group" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photo" class="form-control custom-file-input">
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img src="@photoPath" class="imageThumnail" asp-append-version="true" />
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    @section Scripts
    {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });

        </script>
    }

</form>
